@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$desat-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$d-grey-red: hsl(0, 93%, 68%);
$font: 'Josefin Sans', sans-serif;